<p-panel #pnl [style]="{'margin-bottom':'10px'}">
  <p-header>
    Quản lý loạt bài viết
  </p-header>
  <div class="row" style="margin-left: 50px;">
    <div class="col-6" style="display: flex;">
      <button *ngIf="hasPermission('Permissions.Series.Create')" style="width: 100px; display: flex; justify-content: center;"
       pButton type="button" icon="fa fa-plus" (click)="showAddModal()" class="p-button-sm ms-1 p-button-info"><b>Thêm</b></button>
      <button *ngIf="selectedItems.length > 0 && hasPermission('Permissions.Series.Delete')" style="width: 100px; display: flex; justify-content: center;" 
        pButton type="button" icon="fa fa-trash" class="p-button-sm p-button-danger ms-1" (click)="deleteItems()"><b>Xóa</b></button>
      <button *ngIf="selectedItems.length > 0 && hasPermission('Permissions.Series.Edit')" style="width: 100px; display: flex; justify-content: center;"
        pButton type="button" icon="fa fa-edit" class="p-button-sm ms-1 p-button-warning" (click)="showEditModal()"><b>Sửa</b></button>
      <button *ngIf="selectedItems.length > 0 && hasPermission('Permissions.Series.Attach')" style="width: 100px; display: flex; justify-content: center;" 
        pButton type="button" icon="fa fa-edit" class="p-button-sm ms-1 p-button-success" (click)="showPosts()"><b>Gán</b></button>
    </div>
    <div class="col-6">
      <div class="row" style="float: right; margin-right: 100px;">
        <div class="col">
          <input id="txtKeyword" pInputText (keyup.enter)="loadData()" [(ngModel)]="keyword"
            placeholder="Nhập từ khóa..." type="text">
        </div>
        <div class="col">
          <button style="width: 100px; display: flex; justify-content: center;" type="button" pButton (click)="loadData()">Tìm</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems"
      [metaKeySelection]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Tiêu đề</th>
          <th>URL</th>
          <th style="text-align: center;">Thứ tự</th>
          <th style="width: 150px; text-align: center;">Trạng thái</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td style="width: 10px"><span class="ui-column-title"></span>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{row.name}}</td>
          <td>{{row.slug}}</td>
          <td style="text-align: center;">{{row.sortOrder | number}}</td>
          <td style="width: 150px; text-align: center;">
            <p-badge *ngIf="row.isActive == 1" value="Kích hoạt" severity="success"></p-badge>
            <p-badge *ngIf="row.isActive == 0" value="Khoá" severity="danger"></p-badge>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">
          Tổng số: {{totalCount | number}}
        </div>
      </ng-template>
    </p-table>
  </div>
  <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>

  <p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
      strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
</p-panel>