<div class="animated fadeIn">
    <p-panel #pnl [style]="{'margin-bottom':'10px'}">
      <p-header>
        Nhuận bút theo tài khoản
      </p-header>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-3">
              <input id="txtUserName" pInputText (keyup.enter)="loadData()" pInputText [(ngModel)]="userName"
                placeholder="Nhập tài khoản..." type="text">
            </div>
            <div class="col-7">
              <div class="row">
                <div class="col-3">
                  <p-inputNumber id="fromMonth" [(ngModel)]="fromMonth" class="number">
                  </p-inputNumber>
                </div>
                <div class="col-3">
                  <p-inputNumber id="fromYear" [(ngModel)]="fromYear" class="number" [useGrouping]="false">
                  </p-inputNumber>
                </div>
                <div class="col-3">
                  <p-inputNumber id="toMonth" [(ngModel)]="toMonth" class="number">
                  </p-inputNumber>
                </div>
                <div class="col-3">
                  <p-inputNumber id="toYear" [(ngModel)]="toYear" class="number" [useGrouping]="false">
                  </p-inputNumber>
                </div>
              </div>
            </div>
            <div class="col-2">
              <button type="button" pButton (click)="loadData()">Tìm</button>
            </div>
          </div>
  
        </div>
      </div>
      <div class="row mt-3">
        <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [metaKeySelection]="true" [responsive]="true">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 10px">
                
              </th>
              <th>Tài khoản</th>
              <th style="text-align: center;">Bài nháp</th>
              <th style="text-align: center;">Bài chờ duyệt</th>
              <th style="text-align: center;">Bài bị trả</th>
              <th style="text-align: center;">Tổng bài đăng</th>
              <th style="text-align: center;">Đã trả</th>
              <th style="text-align: center;">Chưa trả</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr [pSelectableRow]="row">
              <td style="width: 10px"><span class="ui-column-title"></span>
                
              </td>
              <td>{{row.userName}}</td>
              <td style="text-align: center;">{{row.numberOfDraftPosts | number}}</td>
              <td style="text-align: center;">{{row.numberOfWaitingApprovalPosts | number}}</td>
              <td style="text-align: center;">{{row.numberOfRejectedPosts | number}}</td>
              <td style="text-align: center;">{{row.numberOfPublishPosts | number}}</td>
              <td style="text-align: center;">{{row.numberOfPaidPublishPosts | number}}</td>
              <td style="text-align: center;">{{row.numberOfUnpaidPublishPosts | number}}</td>
              <td>
                <button *ngIf="row.numberOfUnpaidPublishPosts > 0 && hasPermission('Permissions.Royalty.Pay')" pButton pRipple type="button" icon="pi pi-forward"
                  pTooltip="Gửi tiền" tooltipPosition="top" (click)="payForUser(row.userId)" appPermission
                  appPolicy="Permissons.Royalty.Pay" class="p-button-rounded p-button-text p-button-danger"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  
      <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
          strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
      </p-blockUI>
    </p-panel>
  </div>