<div class="animated fadeIn">
  <p-panel #pnl [style]="{ 'margin-bottom': '10px' }">
    <p-header> Quản lý bài viết </p-header>
    <div class="row" style="display: flex; margin-left: 50px;">
      <div class="col-4" style="display: flex;">
        <button *ngIf="hasPermission('Permissions.Posts.Create')" style="width: 100px; display: flex; justify-content: center;"
         pButton type="button" icon="fa fa-plus" (click)="showAddModal()" class="p-button-sm p-button-info ms-1"><b>Thêm</b></button>
        <button *ngIf="selectedItems.length > 0 && hasPermission('Permissions.Posts.Delete')" style="width: 100px; display: flex; justify-content: center;" 
          pButton type="button" icon="fa fa-trash" class="p-button-sm p-button-danger ms-1" (click)="deleteItems()"><b>Xóa</b></button>
        <button *ngIf="selectedItems.length > 0 && hasPermission('Permissions.Posts.Edit')" style="width: 100px; display: flex; justify-content: center;" 
          pButton type="button" icon="fa fa-edit" class="p-button-sm p-button-warning ms-1" (click)="showEditModal()"><b>Sửa</b></button>
      </div>
      <div class="col-8">
        <div class="row" style="float: right; margin-right: 100px;">
          <div class="col">
            <input id="txtKeyword" pInputText (keyup.enter)="loadData()" [(ngModel)]="keyword"
              placeholder="Nhập từ khóa..." type="text" />
          </div>
          <div class="col">
            <p-dropdown [options]="postCategories" (onChange)="loadData()" [style]="{ width: '100%' }"
              placeholder="Chọn danh mục" [showClear]="true" [(ngModel)]="categoryId">
            </p-dropdown>
          </div>
          <div class="col">
            <button style="width: 100px; display: flex; justify-content: center;" type="button" pButton (click)="loadData()">Tìm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems"
        [metaKeySelection]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10px">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Tiêu đề</th>
            <th>Danh mục</th>
            <th style="text-align: center;">Lượt xem</th>
            <th style="text-align: center;">Thời gian tạo</th>
            <th style="text-align: center;">Nhuận bút</th>
            <th style="width: 150px; text-align: center;">Xuất bản</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr [pSelectableRow]="row">
            <td style="width: 10px">
              <span class="ui-column-title"></span>
              <p-tableCheckbox [value]="row"></p-tableCheckbox>
            </td>
            <td>{{ row.name }}</td>
            <td>{{ row.categoryName }}</td>
            <td style="text-align: center;">{{ row.viewCount | number }}</td>
            <td style="text-align: center;">{{ row.dateCreated | date : 'dd-MM-yyyy hh:mm' }}</td>
            <td style="text-align: center;">
              <p-badge *ngIf="row.isPaid == 0" value="Chưa TT" severity="danger"></p-badge>
              <p-badge *ngIf="row.isPaid == 1" value="Đã TT" severity="success"></p-badge>
            </td>
            <td style="width: 150px; text-align: center;">
              <p-badge *ngIf="row.status == 0" value="Nháp" severity="info"></p-badge>
              <p-badge *ngIf="row.status == 1" value="Đợi duyệt" severity="warning"></p-badge>
              <p-badge *ngIf="row.status == 2" value="Từ chối" severity="danger"></p-badge>
              <p-badge *ngIf="row.status == 3" value="Đã đăng" severity="success"></p-badge>
            </td>
            <td>
              <button *ngIf="hasPermission('Permissions.Posts.Approve')" pButton pRipple type="button" icon="pi pi-list" pTooltip="Loạt bài" tooltipPosition="top"
                (click)="addToSeries(row.id, row.sortOrder)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="row.status == 1 && hasPermission('Permissions.Posts.Approve')" pButton pRipple type="button" icon="pi pi-check" pTooltip="Duyệt bài" tooltipPosition="top" 
                (click)="approve(row.id)" class="p-button-rounded p-button-text p-button-success"></button>
              <button *ngIf="row.status == 0 && hasPermission('Permissions.Posts.Approve')" pButton pRipple type="button" icon="pi pi-forward" pTooltip="Gửi duyệt" tooltipPosition="top"
                (click)="sendToApprove(row.id)" class="p-button-rounded p-button-text p-button-danger"></button>
              <button *ngIf="row.status == 1 && hasPermission('Permissions.Posts.Approve')" pButton pRipple type="button" icon="pi pi-backward" pTooltip="Trả lại" tooltipPosition="top"
                (click)="reject(row.id)" class="p-button-rounded p-button-text p-button-danger"></button>
              <button *ngIf="hasPermission('Permissions.Posts.View')" pButton pRipple type="button" icon="pi pi-history" pTooltip="Lịch sử" tooltipPosition="top"
                (click)="showLogs(row.id)" class="p-button-rounded p-button-text p-button-info"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div style="text-align: left">Tổng số: {{ totalCount | number }}</div>
        </ng-template>
      </p-table>
    </div>

    <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)"
      [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>


    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>